$colors: (
    "primary": #847cf3,
    "secondary": #dee1e6,
    "success": #0dc25c,
    "info": #0292ff,
    "warning": #fed50d,
    "danger": #fe2b5e,
    "default": #0f2d44,
    "accent": #fec5fc,
);

$text-theme: (
    "light": #32325D,
    "dark": #ffffff
);

$app-theme: (
    "light": #ffffff,
    "dark": #32325D
)