{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "plugins": ["styled-jsx-plugin-sass"]
                }
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "paths": [{
                    "rootPathSuffix": "./src",
                    "rootPathPrefix": "~/"
                }]
            }
        ]
    ]
}