* {
    transition: .25s ease-in-out;
    transition-property: background-color;
}

.main-layout {
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    margin: auto;
    margin-top: $header-height;
    @extend .py-24
}

body {
    background-color: #f3f7f9;
}

body.dark {
    @extend .color;
    @extend .is-bg-default;
    @extend .is-theme-txt-dark;
    
    .apexcharts-legend-text {
        color: map-get($text-theme, 'dark') !important;
    }
}

.divider-line {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 680px;
    height: 1.5px;
    background-color: #ebebeb;
}

.btn-link {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

#covid19-tooltip {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 986px) {
    .main-layout {
        padding-left: 18px;
        padding-right: 18px
    }
}
