* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

button {
    border: none;
}

a {
    text-decoration: none;
}