.font {
    @each $name, $size in $font-size {
        &.is-size-#{$name} {
            font-size: $size;
        }
    }

    @each $name, $weight in $font-weight {
        &.is-weight-#{$name} {
            font-weight: $weight;
        }
    }
}

@each $num, $space in $spacers {
    .m-#{$num} {
        margin: $space;
    }
    
    .mx-#{$num} {
        margin-left: $space;
        margin-right: $space;
    }

    .my-#{$num} {
        margin-top: $space;
        margin-bottom: $space;
    }

    .mt-#{$num} {
        margin-top: $space;
    }

    .mb-#{$num} {
        margin-bottom: $space;
    }

    .p-#{$num} {
        padding: $space;
    }

    .px-#{$num} {
        padding-left: $space;
        padding-right: $space;
    }

    .py-#{$num} {
        padding-top: $space;
        padding-bottom: $space;
    }

    .pt-#{$num} {
        padding-top: $space;
    }

    .pb-#{$num} {
        padding-bottom: $space;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-shadow {
    text-shadow: .5px .5px 3px #000
}