$header-height: 56px;

$app-theme: (
    light: #ffffff,
    dark: #32325D
);

$text-theme: (
    light: #32325D,
    dark: #ffffff
);

$colors: (
    default: #0f2d44,
    primary: #847cf3,
    secondary: #dee1e6,
    success: #0dc25c,
    info: #0292ff,
    warning: #fec60d,
    danger: #fe2b5e
);

$font-size: (
    small: 12px,
    medium: 14px,
    body: 16px,
    kilo: 24px,
    h5: 16px,
    h4: 18px,
    h3: 20px,
    h2: 22px,
    h1: 25px
);

$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
);

$spacers: (
    2: 2px,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    24: 24px,
    32: 32px,
    64: 64px
);
